.header{
    width: 100%;
    position: fixed;
}
.header__top{
    background-color: #007765;
    color: #FFFFFF;
}
.container{
    max-width: 1219px;
    padding: 0 55px;
    margin: 0 auto;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 19px;
    margin-bottom: 84px;
}
.menu__list{
    display: flex;
}
.menu__list-item{
    padding-right: 8px;
}
.menu__link{
    font-size: 24px;
    line-height: 28.13px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 37.5px;
    color: #000000;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.content{
    display: flex;
    align-items: center;
    background: url('image.png');
    height: 403px;
    margin: 0 auto;
    padding-top: 84px;
}
.content__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 160px;
    padding-bottom: 160px;
}
.problem{
    background: #EEEEEE;
    display: flex;
    align-items: center;
}
.problem__inner{
    text-align: center;
    color: #007765;
}
.problem__text{
    padding-bottom: 52px;
}
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}
.hero{
    background: url(image-2.png);
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
}
.hero__text{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-style: italic;
    padding-top: 128px;
    padding-bottom: 127px;
    max-width: 893px;
}
.introducing{
    background: #FFFFFF;
    display: flex;
    align-items: center;
}
.introducing__inner{
    color: #007765;
    text-align: center;
    align-items: center;
}
.introducing__text{
    padding-bottom: 52px;
}
.logo1{
    height: 115px;
    width: 115px;
    float: left;
    padding-right: 48px;
}
.team{
    background: #EEEEEE;
    display: flex;
    width: 100%;
    color: #007765;
    margin: 0 auto;
}
.team__items{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-bottom: 112px;
}
.team__item{
    padding-top: 56px; 
    width: 33%;  
}
.team__item-img{
    display: flex;
    width: 168px;
    height: 168px;
    margin: 0 auto;
}
.team__item-title{
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.team__item-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.footer{
    display: flex;
    background: #333333;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}
.footer__text{
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 50px;
    padding-bottom: 62px;
    max-width: 540px;
}
#problem{
    padding-top: 84px;
    margin-top: -84px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
#coin{
    padding-top: 84px;
    margin-top: -84px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
#team{
    padding-top: 84px;
    margin-top: -84px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
